.filterPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidePanelListWrpper,
.sidePanelWrapper,
.listWrapper {
    overflow: auto;
}

.sidePanelListWrpper {
    display: flex;
    flex: 1;
}

.sidePanelWrapper {
    flex-basis: 280px;
    /* padding: 1rem; */
}

.listWrapper {
    flex: 1;
    padding: 1rem;
}