.filterPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidePanelListWrpper,
.sidePanelWrapper,
.listWrapper {
    overflow: auto;
}

.sidePanelListWrpper {
    display: flex;
    flex: 1;
}

.sidePanelWrapper {
    flex-basis: 280px;
}

.listWrapper {
    flex: 1;
}